In [1]:
import numpy as np

NameError: name 'a' is not defined

In [3]:
a = np.array([4, 5, 6])

In [4]:
np.log(a)

array([1.38629436, 1.60943791, 1.79175947])

In [5]:
#-inf は、マイナス無限大を意味する。常用対数（logの底が１０の時）については、log10で計算できます。

In [6]:
np.log10(a)

array([0.60205999, 0.69897   , 0.77815125])

In [8]:
import pandas as pd
df = pd.DataFrame(np.arange(100).reshape((25, 4)))
#ブロードキャストは、ユニバーサルファンクションと同様に配列の内部データに直接演算ができる。
#DataFrameのサイズを知るには、shape属性を使う
df.shape

(25, 4)

In [9]:
df[:2]

   0  1  2  3
0  0  1  2  3
1  4  5  6  7

In [10]:
df[1:3]

   0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [11]:
df[3:5]

    0   1   2   3
3  12  13  14  15
4  16  17  18  19

In [13]:
df.loc[:, :]

     0   1   2   3
0    0   1   2   3
1    4   5   6   7
2    8   9  10  11
3   12  13  14  15
4   16  17  18  19
5   20  21  22  23
6   24  25  26  27
7   28  29  30  31
8   32  33  34  35
9   36  37  38  39
10  40  41  42  43
11  44  45  46  47
12  48  49  50  51
13  52  53  54  55
14  56  57  58  59
15  60  61  62  63
16  64  65  66  67
17  68  69  70  71
18  72  73  74  75
19  76  77  78  79
20  80  81  82  83
21  84  85  86  87
22  88  89  90  91
23  92  93  94  95
24  96  97  98  99

In [14]:
df.loc[1,:]

0    4
1    5
2    6
3    7
Name: 1, dtype: int64

In [15]:
df.loc[3,:]

0    12
1    13
2    14
3    15
Name: 3, dtype: int64

In [16]:
#locはラベル名、ilocはインデックス番号
#pickleモジュールは、pythonのオブジェクトを直列化し、ファイルへの書き込みおよび読み込みが可能
df.shape

(25, 4)

In [17]:
#現在のデータ型の確認
df.dtypes

0    int64
1    int64
2    int64
3    int64
dtype: object

In [28]:
#不要なカラムの削除
df = df.drop(2, axis=0)

In [29]:
df

     0   2   3
0    0   2   3
3   12  14  15
4   16  18  19
5   20  22  23
6   24  26  27
7   28  30  31
8   32  34  35
9   36  38  39
10  40  42  43
11  44  46  47
12  48  50  51
13  52  54  55
14  56  58  59
15  60  62  63
16  64  66  67
17  68  70  71
18  72  74  75
19  76  78  79
20  80  82  83
21  84  86  87
22  88  90  91
23  92  94  95
24  96  98  99

In [32]:
np.random.seed(123)
dates = pd.date_range(start="2017-01-01", periods=365)
df = pd.DataFrame(np.random.randint(1, 31, 365), index = dates, columns=["乱数"])
df

            乱数
2017-01-01  14
2017-01-02   3
2017-01-03  29
2017-01-04   3
2017-01-05   7
...         ..
2017-12-27  22
2017-12-28   5
2017-12-29  22
2017-12-30   1
2017-12-31   8

[365 rows x 1 columns]

In [ ]:
#groupbyメソッドを使い、データのサマライズを行う。Freq='M'月ごとのデータをグルーピングする。
#mean()は平均を取得
df.groupby(pd.Grouper(freq='M')).mean()

In [ ]:
#欠損値処理
#dropnaメソッドを使って、欠損値の行を削除
#fillnaメソッドに０を与えて欠損値に０を代入します
#fillnaメソッドにmethod='ffill'を与えて欠損値を一つ手前の値で補完する
#stdメソッドを使って標準偏差を確認
#Describeメソッドは統計量をまとめて出力する
#df.corr()カラム間のデータ関数の数値で確認し、相関係数を出力する